body {
  background-color: #404040;
}
.container {
  background-color: #fff;
  min-height: 70vh;
  min-width: 500px;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.container h1,
.container h2,
.container h3 {
  padding-top: 15px;
}

.poll-header input {
  width: 100%;
  font-size: 2em;
}

.poll-option {
  font-size: 1.4em;
  margin-top: 10px;
}

.poll-option label {
  font-weight: bold;
  display: inline-block;
  width: 15%;
}

.poll-option input {
  width: 85%;
}

.poll-buttons > button {
  margin: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav li {
}
